

<!-- ボードゲーム 詳細 -->

  <div class="post-show-items-index">

    <p class="post-show-items post-show-item-detail-image">

      <% if admin_signed_in? %><!-- 管理者ログイン時 -->

        <div class="item-show-image">

        <%= link_to admins_item_path(item) do %>

            <%= attachment_image_tag item, :item_image, fallback: "no_image.jpg", :class=>"post-item-image"  %>

          <% end %>

        </div>


      <% else %> <!-- 管理者ログアウト時 -->


        <div class="item-show-image">

          <%= link_to item_path(item) do %>

            <%= attachment_image_tag @item, :item_image, fallback: "no_image.jpg", :class=>"post-item-image" %>

          <% end %>

        </div>

      <% end %>

    </p>


    <div class="post-show-items">

      <!-- 商品名 -->
      <dl class="post-show-item">

        <dd class="post-item-title">ゲーム名</dt>

        <dd class="post-item-content"><%= item.item_name %></dd>

      </dl>


      <!-- カテゴリ -->
      <dl class="post-show-item">

        <dd class="post-item-title">カテゴリ</dt>

        <dd class="post-item-content"><%= item.category %></dd>

      </dl>


      <!-- プレイ人数 -->
      <dl class="post-show-item">

        <dd class="post-item-title">プレイ人数</dt>

        <dd class="post-item-content"><%= @item.person %></dd>

      </dl>

      <!-- プレイ時間 -->
      <dl class="post-show-item">

        <dd class="post-item-title">プレイ時間</dt>

        <dd class="post-item-content"><%= @item.time %></dd>

      </dl>


      <!-- 価格 -->
      <dl class="post-show-item">

        <dd class="post-item-title">税抜価格</dt>

        <dd class="post-item-content"><%= @item.price %> 円</dd>

      </dl>


      <!-- 価格 -->
      <dl class="post-show-item">

        <dd class="post-item-title">紹介文</dt>

        <dd class="post-item-content"><%= @item.item_body %></dd>

      </dl>

    </div>

  </div>
