<div class= "sign">


  <h2 class= "signin">ログイン</h2>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <!-- email 入力部分 -->
    <div class="field">
      <div class= ""><%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class=>"sign-form" %>
    </div>

    <!-- パスワード入力部分 -->
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", :class=>"sign-form" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>



    <%= f.submit "サインイン", :class=>"sign-btn" %>

  <% end %>


<%= render "users/shared/links" %>


</div>