

<div class="contents">


  <% if @user_or_post == "1"%>

    <div class="title">

        <h2>ユーザの検索結果   　<%= @users.count %>件</h2>

    </div>

    <div class="user-list-outer">

      <div class="user-list-inner">

        <% @users.each do |user| %>


          <div class="user-list-item">


            <% if admin_signed_in? %><!-- 管理者ログイン時 -->


              <%= link_to admins_user_path(user.id) do %>

                <!-- ユーザ画像 -->
                <%= attachment_image_tag user, :user_image, fallback:"no_image.jpg", size: "60x60", :class=>"user-image-circle" %>

                <!-- ユーザ名 -->
                <div class="index-user-name" %><%= user.name %></div>

                <!--   性別     /      年齢    -->
                <%= user.sex %> / <%= user.age %>

                <!-- 紹介文 -->
                <%= user.user_introduction %>

              <% end %>


            <% else %><!-- 管理者ログアウト時 -->


              <dl class="user-detail">

                <%= link_to user_path(user.id), :class=>"user-detail-items" do %>

                  <dt class="user-detail-item">

                    <!-- ユーザ画像 -->
                    <%= attachment_image_tag user, :user_image, fallback:"no_image.jpg", size: "60x60", :class=>"user-image-circle" %>


                    <div class="user-spec">

                      <!-- ユーザ名 -->
                      <div class="index-user-name" %><%= user.name %></div>

                      <!--   性別      /     年齢    -->
                      <%= user.sex %> / <%= user.age %>

                      <!-- フォロワー数 -->
                      / <p><%= user.followed.count %>フォロワー</p>

                      </div>

                  </dt>

                <% end %>


                  <!-- 紹介文 -->
                  <dd class="user-introduction">
                  <%= user.user_introduction %>
                  </dd>


              </dl>

            <% end %>



            <div class="user-follow">

              <% if user_signed_in? %>

                <% if user != current_user %>

                  <% if current_user.following?(user) %>

                    <div class="user-unfollow-button">

                      <%= link_to 'フォロー解除', unfollows_path(user.id), method: :POST %>

                    </div>

                  <% else %>

                    <div class="user-follow-button">

                      <%= link_to 'フォローする', follows_path(user.id), method: :POST %>

                    </div>

                  <% end %>

                <% else %>

                  <div class="user-my-button">

                    <%= link_to 'マイページ', user_path(current_user) %>

                  </div>

                <% end %>

              <% else %>

                <div class="user-follow-button">

                  <%= link_to 'フォローする', new_user_session_path, :class=>"user-follow-button" %>

                </div>

              <% end %>

            </div>

          </div>

        <% end %>

      </div>

    </div>

  <% else %> <!-- @user_or_post == "2"のとき -->


    <div class="title">

        <h2>クチコミの検索結果   　<%= @posts.count %>件</h2>

    </div>

    <% @posts.each do |post| %>

      <% if admin_signed_in? %> <!-- 管理者ログイン時 -->

        <%= link_to admins_post_path(post) do %>

                <div class="post-index">

                    <div class="post-index-item">

                        <%= attachment_image_tag post, :post1_image, fallback:"no_image.jpg", :class=>"post-index-image-size" %>

                        <%= attachment_image_tag post, :post2_image, fallback:"no_image.jpg", :class=>"post-index-image-size" %>

                    </div>

                    <div class="post-index-item">

                        <!-- クチコミ内容 -->
                        <div class="post-body">

                            <%= post.post_body %>

                        </div>

                    </div>

                    <div class="user-show-post-detail">

              <div class="user-show-post-more">

                          <%= link_to 'もっと見る', post_path(post), :class=>"post-show-button" %>

              </div>

              <div class="user-show-post-ago">

                    <%= time_ago_in_words(post.created_at) %>前
                <!-- ViewHelper の time_ago_in_words 使用 -->

              </div>

            </div>

                </div>

        <% end %>

      <% else %><!-- 管理者ログアウト時 -->

        <%= link_to post_path(post) do %>

                <div class="post-index">

                    <div class="post-index-item">

                        <%= attachment_image_tag post, :post1_image, fallback:"no_image.jpg", :class=>"post-index-image-size" %>

                        <%= attachment_image_tag post, :post2_image, fallback:"no_image.jpg", :class=>"post-index-image-size" %>

                    </div>

                    <div class="post-index-item">

                        <!-- クチコミ内容 -->
                        <div class="post-body">

                            <%= post.post_body %>

                        </div>

                    </div>

                    <div class="user-show-post-detail">

              <div class="user-show-post-more">

                          <%= link_to 'もっと見る', post_path(post), :class=>"post-show-button" %>

              </div>

              <div class="user-show-post-ago">

                    <%= time_ago_in_words(post.created_at) %>前
                <!-- ViewHelper の time_ago_in_words 使用 -->

              </div>

            </div>

          </div>

        <% end %>

      <% end %>

    <% end %>

  <% end %>

</div>
