

<div class="contents">


  <% if @user_or_post_or_item == "1"%> <!-- @user_or_post_or_item == "1"のとき -->

    <div class="title">

        <h2>ユーザの検索結果   　<%= @search_users_count %>件</h2>

    </div>

    <div class="user-list-outer">

      <div class="user-list-inner">

        <% @users.each do |user| %>

          <!----------------------- ユーザ一覧 ---------------------->
          <%= render partial: 'share/user_index', locals: { user: user } %>

        <% end %>

      </div>

    </div>

  <% elsif @user_or_post_or_item =="2" %> <!-- @user_or_post_or_item == "2"のとき -->


    <div class="title">

        <h2>クチコミの検索結果   　<%= @search_posts_count %>件</h2>

    </div>


    <% @posts.each do |post| %>

      <!----------------------- 口コミ一覧 ---------------------->
      <%= render partial: 'share/post_index', locals: { post: post } %>

    <% end %>

  <% else %> <!-- @user_or_post_or_item == "3"のとき -->


    <div class="title">

        <h2>ボードゲームの検索結果   　<%= @search_items_count %>件</h2>

    </div>


    <% @items.each do |item| %>

      <!----------------------- 口コミ一覧 ---------------------->
      <%= render partial: 'items/item_index', locals: { item: item } %>

    <% end %>



  <% end %>

</div>
