<p id="notice"><%= notice %></p>


<!-- フォロー機能　ここから -->


<div class="user-show-follow-button">

  <% if user_signed_in? %> <!-- ユーザログイン時 -->

    <% if @user != current_user %> <!-- current_user でない時 -->

      <% if current_user.following?(@user) %>  <!-- フォロー済のとき -->

        <%= link_to 'フォロー解除', unfollow_path(@user.id), method: :POST, :class=>"user-show-unfollow-button" %>

      <% else %>  <!-- フォローしていないとき -->

        <%= link_to 'フォローする', follow_path(@user.id), method: :POST, :class=>"user-show-follow-button" %>

      <% end %>

    <% elsif @user == current_user %> <!-- current_user の時 -->

      <%= link_to '設定', edit_user_path(@user.id), :class=>"user-edit-button" %>

    <% end %>

  <% elsif admin_signed_in? %> <!-- 管理者ログイン時 -->

    <%= link_to '設定', edit_admins_user_path(@user.id), :class=>"user-edit-button" %>

  <% else %>  <!-- ログアウト時 -->

    <!-- "フォローする"を押すとログイン画面に遷移する -->
    <%= link_to 'フォローする', new_user_session_path, :class=>"user-show-follow-button" %>

  <% end %>

</div>


<!-- フォロー機能　ここまで -->


<div class="user-show-detail">


  <!-- ユーザ情報左側（ユーザ画像） -->
  <div class="user-detail-item user-detail-left">

    <%= attachment_image_tag @user, :user_image, fallback:"no_image.jpg", size: "150x150", :class=>"user-show-image" %>

  </div>



  <!-- ユーザ情報右側 -->
  <div class="user-detail-item user-detail-right">

    <!-- ユーザ名 -->
    <div class="user-name">

      <%= @user.name %>

    </div>


    <div class="user-show-spec">

      <!-- 性別 -->
      <%= @user.sex %>/

      <!-- 性別 -->
      <%= @user.age %>

    </div>


    <div class="user-action">


      <!-- フォロー一覧 -->

      <%= link_to follower_user_path do %>

        <%= @user.follower.count %>フォロー

      <% end %>


      <!-- フォロワー一覧 -->


      <%= link_to followed_user_path do %>

        <%= @user.followed.count %>フォロワー

      <% end %>


      <!-- いいねした投稿一覧 -->

      <%= link_to favorites_user_path do %>

        <%= @user.favorites.count %>いいね

      <% end %>


    </div>

  </div>

</div>



<!-- ユーザ紹介文 -->

<div class="user-show-introduction">

    <%= @user.user_introduction %>

</div>



<div class="show-post-index">

  <div class="title">

    <h2>このユーザの投稿一覧</h2>

  </div>


  <div class="post-index-list">

    <% @posts.each do |post| %>

        <!----------------------- 口コミ一覧 ---------------------->
      <%= render partial: 'share/post', locals: { post: post } %>

    <% end %>

  </div>

</div>

