<div>

	<%= link_to follower_user_path do %>
		<%= @user.follower.count %>フォロー
	<% end %>

	<%= link_to followed_user_path do %>
		<%= @user.followed.count %>フォロワー
	<% end %>

</div>

<div>

	<% if @user != current_user %>

		<% if current_user.following?(@user) %>

			<%= link_to 'フォロー解除', unfollow_path(@user.id), method: :POST %>

		<% else %>

			<%= link_to 'フォローする', follow_path(@user.id), method: :POST %>

		<% end %>

	<% end %>

</div>


<%= attachment_image_tag @user, :user_image, fallback:"no_image.jpg", size: "150x150" %>

<%= @user.name %>

<%= @user.sex %>

<%= @user.age %>

<%= @user.user_introduction %>


<% @posts.each do |user_post| %>

	<%= attachment_image_tag user_post, :post1_image, fallback:"no_image.jpg", size: "165x165" %>

	<%= attachment_image_tag user_post, :post2_image, fallback:"no_image.jpg", size: "165x165" %>

	<%= user_post.post_body %>

<% end %>


<% if @user == current_user %>

	<%= link_to '設定', edit_user_path(@user.id) %>

<% end %>
