<p id="notice"><%= notice %></p>


<div>

	<%= link_to follower_user_path do %>

		<%= @user.follower.count %>フォロー

	<% end %>


	<%= link_to followed_user_path do %>

		<%= @user.followed.count %>フォロワー

	<% end %>


	<%= link_to favorites_user_path do %>

		<%= @user.favorites.count %>いいね

	<% end %>

</div>


<!-- フォロー機能　ここから -->


<div>


	<% if user_signed_in? %> <!-- ユーザログイン時 -->

		<% if @user != current_user %>

			<% if current_user.following?(@user) %>  <!-- フォロー済のとき -->

				<%= link_to 'フォロー解除', unfollow_path(@user.id), method: :POST %>

			<% else %>  <!-- フォローしていないとき -->

				<%= link_to 'フォローする', follow_path(@user.id), method: :POST %>

			<% end %>

		<% end %>

	<% else %>  <!-- ログアウト時 -->

		<!-- "フォローする"を押すとログイン画面に遷移する -->
		<%= link_to 'フォローする', new_user_session_path %>

	<% end %>

</div>


<!-- フォロー機能　ここまで -->



<%= attachment_image_tag @user, :user_image, fallback:"no_image.jpg", size: "150x150" %>

<%= @user.name %>

<%= @user.sex %>

<%= @user.age %>

<%= @user.user_introduction %>


<% @posts.each do |user_post| %>

	<%= link_to post_path(user_post) do %>

		<%= attachment_image_tag user_post, :post1_image, fallback:"no_image.jpg", size: "165x165" %>

		<%= attachment_image_tag user_post, :post2_image, fallback:"no_image.jpg", size: "165x165" %>

		<%= user_post.post_body %>

	<% end %>

	<%= time_ago_in_words(user_post.created_at) %>前
		<!-- ViewHelper の time_ago_in_words 使用 -->

<% end %>


<% if @user == current_user %>

	<%= link_to '設定', edit_user_path(@user.id) %>

<% end %>
