
<!-- ボードゲーム 一覧 -->


    <div class="items-index-image">

        <!-- 商品画像 -->
        <%= attachment_image_tag item, :item_image, fallback:"no_image.jpg", size: "165x165" %>

    </div>


    <div class="item-spec-list">


        <!-- ボードゲーム名 -->
        <div class="item-name">

            <p class="item-index-name"><%= item.item_name %></p>

        </div>



        <div class="item-spec-list-item">




            <!-- ボードゲームの紹介文 -->
            <div class="item-list-item">

                <div class="item-icon">

                    <i class="fa fa-pencil"></i>

                </div>

                <div class="item-list-contents">

                    <%= item.item_body %>

                </div>

            </div>



            <!-- カテゴリ -->
            <div class="item-list-item">

                <div class="item-icon">

                    <i class="fa fa-caret-right"></i>

                </div>

                <div class="item-list-contents">

                    <%= item.category %>

                </div>


            </div>


            <!-- プレイ人数 -->
            <div class="item-list-item">

                <div class="item-icon">

                    <i class="fa fa-users"></i>

                </div>

                <%= item.person %>

            </div>


            <!-- プレイ時間 -->
            <div class="item-list-item">

                <div class="item-icon">

                    <i class="fa fa-clock-o"></i>

                </div>

                <%= item.time %>

            </div>


            <!-- 価格 -->
            <div class="item-list-item">

                <div class="item-icon">
                    ¥
                </div>

                    <%= item.price %>


            </div>

        </div>

    </div>
