<div class="contents">

    <div class="title">

      <h2>ボードゲーム 一覧 <%= items_count %>件</h2>

    </div>


    <% @items.each do |item| %>


        <% if admin_signed_in? %> <!-- 管理者ログイン時 -->


            <%= link_to admins_item_path(item) do %>

                <!-------------------- ボードゲーム一覧 -------------------->
                <%= render partial: 'share/item_index', locals: { item: item } %>

            <% end %>


        <% else %> <!-- 管理者ログアウト時 -->


            <%= link_to item_path(item) do %>

                <!-------------------- ボードゲーム一覧 -------------------->
                <%= render partial: 'share/item_index', locals: { item: item } %>

            <% end %>


        <% end %>

    <% end %>


    <!-- ページネーション -->
    <div class="paginate">

        <%= paginate @items %>

    </div>

</div>