<p id="notice"><%= notice %></p>

<h1>Items</h1>


<% @items.each do |item| %>


    <% if admin_signed_in? %> <!-- 管理者ログイン時 -->


        <%= link_to admins_item_path(item) do %>

            <!-- 商品画像 -->
            <%= attachment_image_tag item, :item_image, fallback:"no_image.jpg", size: "165x165" %>

            <!-- 商品名 -->
            <%= item.item_name %>

            <!-- カテゴリ -->
            <%= item.category %>

            <!-- プレイ時間 -->
            <%= item.time %>

            <!-- プレイ人数 -->
            <%= item.person %>

            <!-- 商品価格 -->
            <%= item.price %>

        <% end %>


    <% else %> <!-- 管理者ログアウト時 -->


        <%= link_to item_path(item) do %>

            <!-- 商品画像 -->
            <%= attachment_image_tag item, :item_image, fallback:"no_image.jpg", size: "165x165" %>

            <!-- 商品名 -->
            <%= item.item_name %>

            <!-- カテゴリ -->
            <%= item.category %>

            <!-- プレイ時間 -->
            <%= item.time %>

            <!-- プレイ人数 -->
            <%= item.person %>

            <!-- 商品価格 -->
            <%= item.price %>

        <% end %>


    <% end %>


<% end %>


<% if admin_signed_in? %> <!-- 管理者ログイン時 -->

    <%= link_to 'New Item', new_admins_item_path %>

<% end %>
