<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @item.string %>
</p>

<p>
  <strong>String:</strong>
  <%= @item.string %>
</p>

<p>
  <strong>Text:</strong>
  <%= @item.text %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @item.integer %>
</p>

<p>
  <strong>Float:</strong>
  <%= @item.float %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @item.integer %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @item.integer %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @item.integer %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
