<p id="notice"><%= notice %></p>

<div class="contents">

    <div class="title">

      <h2>ボードゲーム 詳細</h2>

    </div>

  <% if admin_signed_in? %><!-- 管理者ログイン時 -->


    <div class="post-ed-button">


      <div class="edit-button">

        <%= link_to '編集する', edit_admins_post_path(@post) %>

      </div>


      <div class="destroy-button">

        <%= link_to '削除する', admins_post_path(@post), method: :delete, data: { confirm: '本当に消しますか'} %>

      </div>

    </div>


  <% end %>



  <div class="borad-conetnts">

    <!-------------------- ボードゲーム詳細 -------------------->
    <%= render partial: 'share/item', locals: { item: @item } %>

  </div>




  <h2>この商品の口コミ一覧</h2>


  <% @posts.each do |item_post| %>

    <!----------------------- 口コミ一覧 ---------------------->
    <%= render partial: 'share/post', locals: { post: post } %>

  <% end %>

</div>

