<p id="notice"><%= notice %></p>

<div class="contents">

    <div class="title">

      <h2>ボードゲーム 詳細</h2>

    </div>

  <% if admin_signed_in? %><!-- 管理者ログイン時 -->


    <div class="post-ed-button">


      <div class="edit-button">

        <%= link_to '編集する', edit_admins_post_path(@post) %>

      </div>


      <div class="destroy-button">

        <%= link_to '削除する', admins_post_path(@post), method: :delete, data: { confirm: '本当に消しますか'} %>

      </div>

    </div>


  <% end %>


  <div class="borad-conetnts">

    <!-------------------- ボードゲーム詳細 -------------------->
    <%= render partial: 'share/item', locals: { item: @item } %>

  </div>


  <!-- 商品の口コミ一覧 -->

  <h2>この商品の口コミ一覧</h2>

  <% @posts.each do |item_post| %>


    <!-- クリックで投稿者の詳細ページに遷移　ここから -->


    <% if admin_signed_in? %> <!-- 管理者ログイン時 -->


      <%= link_to admins_user_path(item_post.user) do %>

        <%= attachment_image_tag item_post.user, :user_image, fallback: "no_image.jpg", size: "50x50", :class=>"user-image-circle" %>

        <%= item_post.user.name %>

      <% end %>


    <% else %> <!-- 管理者ログアウト時 -->


      <%= link_to user_path(item_post.user) do %>

        <%= attachment_image_tag item_post.user, :user_image, fallback: "no_image.jpg", size: "50x50", :class=>"user-image-circle" %>

        <%= item_post.user.name %>

      <% end %>


    <% end %>


    <!-- クリックで投稿者の詳細ページに遷移　ここまで -->



    <!-- クリックで投稿詳細ページに遷移　ここから -->


    <% if admin_signed_in? %> 管理者ログイン時

      <%= link_to admins_post_path(item_post) do %>

        <%= attachment_image_tag item_post, :post1_image, fallback:"no_image.jpg", size: "165x165" %>

        <%= attachment_image_tag item_post, :post2_image, fallback:"no_image.jpg", size: "165x165" %>

        <%= item_post.post_body %>

      <% end %>


    <% else %> <!-- 管理者ログアウト時 -->


      <%= link_to post_path(item_post) do %>

        <%= attachment_image_tag item_post, :post1_image, fallback:"no_image.jpg", size: "165x165" %>

        <%= attachment_image_tag item_post, :post2_image, fallback:"no_image.jpg", size: "165x165" %>

        <%= item_post.post_body %>

      <% end %>

    <% end %>

    <!-- クリックで投稿詳細ページに遷移　ここまで -->


    <%= time_ago_in_words(item_post.created_at) %>前
      <!-- ViewHelper の time_ago_in_words 使用 -->

  <% end %>

</div>

