<h1>Editing Post</h1>

<%= form_for(@post) do |f| %>

	<%= f.label :post1_image %>
	<%= f.attachment_field :post1_image %>

	<%= f.label :post2_image %>
	<%= f.attachment_field :post2_image %>

	<div>変更前の画像</div>
    <div>
    <%= attachment_image_tag @post, :post1_image, fallback:"no_image.jpg", size: "165x165" %>

    <%= attachment_image_tag @post, :post2_image, fallback:"no_image.jpg", size: "165x165" %>
	</div>

    <%= f.label :post_body %>
    <%= f.text_area :post_body %>

    <%= f.submit '更新' %>

<% end %>


<% if admin_signed_in? %> <!--管理者ログイン時 -->

	<%= link_to 'Back', admins_post_path(@post) %>

<% else %> <!--管理者ログアウト時 -->

	<%= link_to 'Back', post_path(@post) %>

<% end %>