<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<% @posts.each do |post| %>

  <%= attachment_image_tag post, :post1_image, fallback:"no_image.jpg", size: "165x165" %>

  <%= attachment_image_tag post, :post2_image, fallback:"no_image.jpg", size: "165x165" %>

  <%= post.post_body %>

  <%= link_to 'もっと見る', post_path(post.id) %>

<% end %>

<%= link_to 'New Post', new_post_path %>
