<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<% @posts.each do |post| %>

  <%= attachment_image_tag post, :post1_image, fallback:"no_image.jpg", size: "165x165" %>

  <%= attachment_image_tag post, :post2_image, fallback:"no_image.jpg", size: "165x165" %>

  <%= post.post_body %>

	<% if admin_signed_in? %> <!-- 管理者ログイン時 -->

		<%= link_to 'もっと見る', admins_post_path(post.id) %>

	<% else %> <!-- 管理者ログアウト時 -->

		<%= link_to 'もっと見る', post_path(post.id) %>

	<% end %>

<% end %>

<%= link_to 'New Post', new_post_path %>
