<p id="notice"><%= notice %></p>

<div class="contents">

	<div class="title">

		<h2>クチコミ一覧   　<%= @posts.count %>件</h2>

	</div>


    <% @posts.each do |post| %>


        <div class="post-index">

            <div class="post-index-item">

                <%= attachment_image_tag post, :post1_image, fallback:"no_image.jpg", size: "165x165", :class=>"" %>

                <%= attachment_image_tag post, :post2_image, fallback:"no_image.jpg", size: "165x165" %>

            </div>

            <div class="post-index-item">

                <!-- クチコミ内容 -->
                <div class="post-body">

                    <%= post.post_body %>

                </div>

            </div>

            <div class="post-show-button">

                    <% if admin_signed_in? %> <!-- 管理者ログイン時 -->

                        <%= link_to 'もっと見る', admins_post_path(post.id) %>

                    <% else %> <!-- 管理者ログアウト時 -->

                        <%= link_to 'もっと見る', post_path(post.id)  %>

                    <% end %>

            </div>

        </div>

    <% end %>


</div>