<p id="notice"><%= notice %></p>


<% if @post.user == current_user %><!-- 投稿者がcurrent_userの時 -->

  <%= link_to '編集する', edit_post_path(@post) %>

  <%= link_to '削除する', post_path(@post), method: :delete, data: { confirm: '本当に消しますか'} %>

<% elsif admin_signed_in? %><!-- 管理者ログイン時 -->

  <%= link_to '編集する', edit_admins_post_path(@post) %>

  <%= link_to '削除する', admins_post_path(@post), method: :delete, data: { confirm: '本当に消しますか'} %>

<% end %>


<%= link_to user_path(@user) do %>

  <%= attachment_image_tag @user, :user_image, fallback:"no_image.jpg", size: "30x30" %>

  <%= @user.name %>/<%= @user.age %>/<%= @user.sex %>

<% end %>


  <%= attachment_image_tag @post, :post1_image, fallback:"no_image.jpg", size: "165x165" %>

  <%= attachment_image_tag @post, :post2_image, fallback:"no_image.jpg", size: "165x165" %>

  <%= @post.post_body %>



<!-- いいね機能　ここから -->


<% if user_signed_in? %><!-- ユーザログイン時 -->


  <% if @post.favorited_by?(current_user) %><!--いいね済のとき-->

  	<%= link_to post_favorite_path(@post),method: :delete do %>

  		<i class="fa fa-heart" class="fa-heart"></i>

    <% end %>


  <% else %><!-- いいねしていないとき -->

    <%= link_to post_favorites_path(@post),method: :post do %>

    	<i class="fa fa-heart-o" aria-hidden="true"></i>

    <% end %>


  <% end %>



<% else %><!-- ログアウト時 -->


  <!-- 空のハートを押すとログイン画面に遷移する -->
  <%= link_to new_user_session_path do %>

    <i class="fa fa-heart-o" aria-hidden="true"></i>

  <% end %>


<% end %>


<%= link_to favorites_post_path do %><!-- いいねしたユーザの一覧ページに遷移 -->

  <%= @post.favorites.count %>いいね <!-- いいねされた数 -->

<% end %>


<!-- いいね機能　ここまで -->



  投稿日時：<%= time_ago_in_words(@post.created_at) %>前
  <!-- ViewHelper の time_ago_in_words 使用 -->



<%= @post.comments.count %>件


  <h2>コメント</h2>

<% @post.comments.each do |comment| %>

  <%= link_to user_path(comment.user) do %>

    <%= attachment_image_tag comment.user, :user_image, fallback: "no_image.jpg", size: "50x50" %>

    <%= comment.user.name %>

<% end %>


  <%= time_ago_in_words(comment.created_at) %>前
  <!-- ViewHelper の time_ago_in_words 使用 -->


  <% if comment.user == current_user %>

    <%= link_to '削除する', post_comment_path(@post), method: :delete, data: { confirm: '本当に消しますか'} %>

  <% end %>



  <%= comment.comment %>

<% end %>


<%= form_for [@post, @comment] do |f| %>

  <%= f.text_field :comment ,placeholder:"コメントを追加" %>

  <%= f.submit "送信" %>

<% end %>


<%= link_to '一覧に戻る', posts_path %>
