<p id="notice"><%= notice %></p>


<div class="contents">

  <div class="title">

    <h2><%= @item.item_name %>で遊んだクチコミ</h2>

  </div>


  <div class="post-show-detail">


    <% if @post.user == current_user %><!-- 投稿者がcurrent_userの時 -->

      <div class="post-ed-button">

        <div class="edit-button">

            <%= link_to '編集する', edit_post_path(@post) %>

        </div>

        <div class="destroy-button">

            <%= link_to '削除する', post_path(@post), method: :delete, data: { confirm: '本当に消しますか'} %>

        </div>

      </div>


    <% elsif admin_signed_in? %><!-- 管理者ログイン時 -->


      <div class="post-ed-button">

        <%= link_to '編集する', edit_admins_post_path(@post) %>

        <%= link_to '削除する', admins_post_path(@post), method: :delete, data: { confirm: '本当に消しますか'} %>

      </div>


    <% end %>








    <!-- 投稿時間の表示 -->

    <div class="post-time-ago">
      投稿日時：<%= time_ago_in_words(@post.created_at) %>前
      <!-- ViewHelper の time_ago_in_words 使用 -->
    </div>





    <% if @post.user == current_user %><!-- 投稿者がcurrent_userの時 -->


      <div class="post-user">

        <%= link_to user_path(@user) do %> <!-- ユーザ詳細に遷移 -->

          <!-- ユーザ画像 -->
          <%= attachment_image_tag @user, :user_image, fallback:"no_image.jpg", size: "30x30" %>

          <!-- ユーザ名/ユーザの年代/ユーザの性別 -->
          <%= @user.name %>/<%= @user.age %>/<%= @user.sex %>

        <% end %>

      </div>


    <% elsif admin_signed_in? %><!-- 管理者ログイン時 -->


      <div class="post-user">

        <%= link_to admins_user_path(@user) do %> <!-- ユーザ詳細(管理者用)に遷移 -->

        <!-- ユーザ画像 -->
          <%= attachment_image_tag @user, :user_image, fallback:"no_image.jpg", size: "30x30", :class=>"user-image-circle" %>

        <!-- ユーザ名/ユーザの年代/ユーザの性別 -->
          <%= @user.name %>/<%= @user.age %>/<%= @user.sex %>

        <% end %>

      </div>


    <% end %>




    <div class="post-show-image">

      <!-- 投稿画像１ -->
      <%= attachment_image_tag @post, :post1_image, fallback:"no_image.jpg", :class=>"post-show-image-item" %>

      <!-- 投稿画像２ -->
      <%= attachment_image_tag @post, :post2_image, fallback:"no_image.jpg", :class=>"post-show-image-item" %>

    </div>


    <!-- 投稿文  simple_formatでtext_areaの改行を反映 -->
    <div class="post-show-body"><%= simple_format(@post.post_body) %></div>



    <!-- いいね機能　ここから -->


    <div class="favorites">

      <% if user_signed_in? %><!-- ユーザログイン時 -->


        <% if @post.favorited_by?(current_user) %><!--いいね済のとき-->

        	<%= link_to post_favorite_path(@post),method: :delete, :class=>"favorite-a" do %>

              <div class="post-show-favorites-pushed favorites-button">

                <i class="fa fa-heart-o" aria-hidden="true"></i><%= @post.favorites.count %>

              </div>

          <% end %>


        <% else %><!-- いいねしていないとき -->

          <%= link_to post_favorites_path(@post),method: :post, :class=>"favorite-a" do %>

              <div class="post-show-favorites favorites-button">

                <i class="fa fa-heart-o" aria-hidden="true"></i><%= @post.favorites.count %>

              </div>

          <% end %>


        <% end %>



      <% else %><!-- ログアウト時 -->


        <!-- 空のハートを押すとログイン画面に遷移する -->
        <%= link_to new_user_session_path, :class=>"favorite-a" do %>

              <div class="post-show-favorites favorites-button">

                <i class="fa fa-heart-o" aria-hidden="true"></i><%= @post.favorites.count %>

              </div>

        <% end %>


      <% end %>


      <button id='modal-open-favorite-btn', class="post-favorited-user favorites-button">いいねしたユーザを見る</button>


    </div>


    <!-- いいね機能　ここまで -->



    <!-- コメント投稿、表示機能　ここから -->

    <div class="post-show-title">

      <h2>コメント　　<%= @post.comments.count %>件</h2>

    </div>


    <% @post.comments.each do |comment| %>



        <div class="comment-detail">
          <!-- コメントの投稿時間 -->
          <%= time_ago_in_words(comment.created_at) %>前
          <!-- ViewHelper の time_ago_in_words 使用 -->


          <% if comment.user == current_user %>

            <%= link_to '削除する', post_comment_path(@post), method: :delete, data: { confirm: '本当に消しますか'}, :class=>"comment-destroy-button" %>

          <% end %>

        </div>

        <div class="comment-item">

          <div class="comment-user">

            <%= link_to user_path(comment.user) do %>


              <div>

                <!-- コメントしたユーザの画像 -->
                <%= attachment_image_tag comment.user, :user_image, fallback: "no_image.jpg", size: "50x50", :class=>"post-show-user-image" %>

              </div>

            <!-- コメントしたユーザの名前 -->
              <%= comment.user.name %>

            <% end %>

          </div>


          <!-- コメントの内容 -->
          <div class="comment-content"><%= comment.comment %></div>

        </div>

    <% end %>



    <%= form_for [@post, @comment] do |f| %>

      <div class="comment-form-box">

        <%= f.text_area :comment ,placeholder:"コメントを追加", :class=>"comment-form" %>

      </div>


      <div class="comment-submit">

        <%= f.submit "送信", :class=> "comment-button" %>

      </div>

    <% end %>





    <!-- コメント投稿、表示機能　ここまで -->




    <!-- 商品情報　ここから -->

    <div class="post-show-title">

      <h2>ボードゲーム詳細</h2>

    </div>


  <div class="post-show-items-index">

    <div class="post-show-items post-show-item-detail-image">

      <% if admin_signed_in? %><!-- 管理者ログイン時 -->


        <%= link_to admins_item_path(@item) do %>

          <%= attachment_image_tag @item, :item_image, fallback: "no_image.jpg", :class=>"post-item-image"  %>

        <% end %>


      <% else %> <!-- 管理者ログアウト時 -->


        <%= link_to item_path(@item) do %>

          <%= attachment_image_tag @item, :item_image, fallback: "no_image.jpg", :class=>"post-item-image" %>

        <% end %>


      <% end %>

    </div>


    <div class="post-show-items">

      <!-- 商品名 -->
      <dl class="post-show-item">

        <dt class="post-item-title">ゲーム名</dt>

        <dd class="post-item-content"><%= @item.item_name %></dd>

      </dl>


      <!-- カテゴリ -->
      <dl class="post-show-item">

        <dt class="post-item-title">カテゴリ</dt>

        <dd class="post-item-content"><%= @item.category %></dd>

      </dl>


      <!-- プレイ人数 -->
      <dl class="post-show-item">

        <dt class="post-item-title">プレイ人数</dt>

        <dd class="post-item-content"><%= @item.person %></dd>

      </dl>

      <!-- プレイ時間 -->
      <dl class="post-show-item">

        <dt class="post-item-title">プレイ時間</dt>

        <dd class="post-item-content"><%= @item.time %></dd>

      </dl>

    </div>

  </div>


    <!-- 商品情報　ここまで -->


    <div class="back-button">

      <% if admin_signed_in? %><!-- 管理者ログイン時 -->

        <%= link_to '← 一覧に戻る', admins_posts_path, :class=>"post-back back-button" %>

      <% else %> <!-- 管理者ログアウト時 -->

        <%= link_to '← 一覧に戻る', posts_path, :class=>"post-back back-button" %>

      <% end %>

    </div>

  </div>

</div>






<!-- モーダルウインドウの部分　　　いいねしたユーザ一覧 -->


<!--

  要素のクラス名は、ユーザ一覧とほぼ同じだが、モーダルウインドウの仕様に合わせるため、

    title →　modal-title

    user-list-form → modal-list-form

    user-detail → modal-user-detail

    user-list →  modal-user-list

    に変更。

 -->


<!-- モーダルウインドウ背景 -->
<div id='overlay'>

  <!-- モーダルウインドウの幅、配置 -->
  <div id='modalWindow'>

    <!-- モーダルウインドウ中身 -->
    <div class='modal-message-box'>


      <div class="modal-title">

          <h2>いいねしたユーザ一覧　<%= @post.favorited_users.count %> 人</h2>

      </div>


      <div class="modal-user-list">

        <% @post.favorited_users.each do |user| %>


          <div class="modal-user-list-item">


            <% if admin_signed_in? %><!-- 管理者ログイン時 -->


              <%= link_to admins_user_path(user.id) do %>

                <!-- ユーザ画像 -->
                <%= attachment_image_tag user, :user_image, fallback:"no_image.jpg", size: "60x60", :class=>"user-image-circle" %>

                <div class="favorite-user-detail">

                  <!-- ユーザ名 -->
                  <%= user.name %>

                  <!--   性別     /      年齢    -->
                  <%= user.sex %> / <%= user.age %>

                  <!-- フォロワー数 -->
                  <p><%= user.followed.count %>フォロワー</p>

                </div>

                  <!-- 紹介文 -->
                  <%= user.user_introduction %>



              <% end %>


            <% else %><!-- 管理者ログアウト時 -->




              <dl class="modal-user-detail">

                <%= link_to user_path(user.id), :class=>"user-detail-items" do %>

                    <dt class="user-detail-item">

                      <!-- ユーザ画像 -->
                      <%= attachment_image_tag user, :user_image, fallback:"no_image.jpg", size: "60x60", :class=>"user-image-circle" %>


                      <div class="user-spec">

                        <!-- ユーザ名 -->
                        <%= user.name %>

                        <!--   性別     /      年齢    -->
                        <%= user.sex %> / <%= user.age %>

                        <!-- フォロワー数 -->
                        <p><%= user.followed.count %>フォロワー</p>

                      </div>


                      <!-- フォローボタン -->
                      <div class="modal-user-follow">

                        <% if user_signed_in? %>

                          <% if user != current_user %>

                              <% if current_user.following?(user) %>

                                  <%= link_to 'フォロー解除', unfollows_path(user.id), method: :POST, :class=>"modal-user-unfollow-button" %>

                              <% else %>

                                  <%= link_to 'フォローする', follows_path(user.id), method: :POST, :class=>"modal-user-follow-button" %>

                              <% end %>

                          <% else %>

                            <%= link_to 'マイページ', user_path(current_user), :class=>"modal-user-my-button" %>

                          <% end %>


                        <% elsif %>

                          <%= link_to 'フォローする', new_user_session_path, :class=>"modal-user-follow-button" %>

                        <% end %>

                      </div>

                    </dt>

                    <!-- 紹介文 -->
                    <dd class="user-introduction">

                      <%= user.user_introduction %>

                    </dd>

                <% end %>

              </dl>

            <% end %>

          </div>

        <% end %>

      </div>

    </div>

    <!-- モーダルウインドウを閉じるボタン -->
    <button id='modal-close-btn'>閉じる</button>

  </div>

</div>