<p id="notice"><%= notice %></p>

  <%= attachment_image_tag @post, :post1_image, fallback:"no_image.jpg", size: "165x165" %>

  <%= attachment_image_tag @post, :post2_image, fallback:"no_image.jpg", size: "165x165" %>

  <%= @post.post_body %>


<%= @post.comments.count %>件

<% @post.comments.each do |comment| %>
<%= comment.user.user_image %>
<%= comment.user.user_name %>
<%= comment.user.user_age %>
<%= comment.user.user_gender %>
<%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
<%= comment.comment %>
<% end %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.text_area :comment ,placeholder:"コメントを追加" %>
  <%= f.submit "送信" %>
<% end %>

<%= link_to '削除', post_path(@post),method: :delete, data: { confirm: '本当に消しますか？' } %> |
<%= link_to '一覧に戻る', posts_path %>
