<p id="notice"><%= notice %></p>

  <%= attachment_image_tag @post, :post1_image, fallback:"no_image.jpg", size: "165x165" %>

  <%= attachment_image_tag @post, :post2_image, fallback:"no_image.jpg", size: "165x165" %>

  <%= @post.post_body %>

<% if @post.favorited_by?(current_user) %>

	<%= link_to post_favorite_path(@post),method: :delete do %>

		<i class="fa fa-heart" class="fa-heart"></i>

	<% end %>

<% else %>

	<%= link_to post_favorites_path(@post),method: :post do %>

		<i class="fa fa-heart-o" aria-hidden="true"></i>

	<% end %>

<% end %>

<%= link_to favorites_post_path do %>

  <%= @post.favorites.count %>いいね
<% end %>


<%= @post.comments.count %>件


  <h2>コメント</h2>

<% @post.comments.each do |comment| %>

  <%= attachment_image_tag comment.user, :user_image, :fill, 60, 60, fallback: "no_image.jpg" %>

  <%= comment.user.name %>

  <%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %>

  <%= comment.comment %>

<% end %>


<%= form_for [@post, @comment] do |f| %>

  <%= f.text_field :comment ,placeholder:"コメントを追加" %>

  <%= f.submit "送信" %>

<% end %>

<%= link_to '一覧に戻る', posts_path %>
