<!DOCTYPE html>
<html>
  <head>


    <title>Amaze</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- ヘッダー部分　ここから -->


    <div class="header">

      <div class= "header-contents">

        <div class= "header-left">

          <div class="logo">ロゴ</div>

          <!-- 検索フォーム　ここから -->

          <div class= "search-bar">

            <%= form_tag(search_path, :method => 'get') do %>

              <%= select_tag(:option, options_for_select([["ユーザ", "1"],["口コミ","2"]]), :class=>"search-select") %>
              <!-- セレクトボックスの作成。optionはプロパティ名。 -->
              <%= text_field_tag :search,"", :placeholder => "キーワードを入力",:class=>"search-form" %>

            <% end %>

          </div>

        </div>


        <!-- 検索フォーム　ここまで -->



        <div class= "header-right">

          <% if user_signed_in? %>
            こんにちは <%= "#{current_user.name}" %> さん
            <%= link_to 'マイページ', user_path(current_user), class: "my-link" %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "my-link" %>

          <%= link_to 'New Post', new_post_path %>


          <% else %>


              <!-- 新規登録ボタン -->
              <%= link_to  new_user_registration_path, class: "sign" do %>新規登録<% end %>

              |

              <!-- ログインボタン -->
              <%= link_to  new_user_session_path, class: "sign" do %>ログイン<% end %>


          <% end %>

        </div>


        <% if admin_signed_in? %>
            管理者としてログイン中
               |    
            <li><%= link_to  destroy_admin_session_path, method: :delete do %>ログアウト<% end %></li>
        <% end %>

      </div>

    </div>


<!-- ヘッダー部分　ここまで -->

    <%= yield %>
  </body>
</html>
