<!DOCTYPE html>
<html>
  <head>
    <title>Amaze</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
      <ul>
        <li><%= link_to  destroy_user_session_path, method: :delete do %>logout<% end %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to  new_user_registration_path do %>sign up<% end %></li>
        <li><%= link_to  new_user_session_path do %>login<% end %></li>
      </ul>
    <% end %>

    <!-- 検索フォーム　ここから -->

    <%= form_tag(search_path, :method => 'get') do %>

      <%= select_tag(:option, options_for_select([["ユーザ", "1"],["口コミ","2"]]))%>
      <!-- セレクトボックスの作成。optionはプロパティ名。 -->
      <%= text_field_tag :search %>

      <%= submit_tag '検索' %>

    <% end %>

    <!-- 検索フォーム　ここまで -->

    <%= yield %>
  </body>
</html>
