<!DOCTYPE html>
<html>
  <head>
    <title>Amaze</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if user_signed_in? %>
      <ul>
        <li><%= link_to  destroy_user_session_path, method: :delete do %>logout<% end %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to  new_user_registration_path do %>sign up<% end %></li>
        <li><%= link_to  new_user_session_path do %>login<% end %></li>
      </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
